* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/*---------navbar---------*/

.navbar {
    flex-grow: 1;
    margin: auto;
    padding: 2rem 0;
    min-width: 20vw;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------searchbar---------*/

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buttonDiv{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttonText{
    vertical-align:middle;
    display: table-cell;
}

.button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #41d6c3;
    border-radius: 5px;
}
/*---------form---------*/

.speak {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.speakManon {
    display: flex;
    justify-content: center;
}

.full-speak {
    display: flex;
    justify-content: flex-start;
    margin-left: 30rem;
}

.full-speak2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 30rem;
}

.full-speak3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 30rem;
}

.hr-maxime {
    display: flex;
    justify-content: flex-end;
}