* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
}
/*---------navbar---------*/

.navbar {
    flex-grow: 1;
    margin: auto;
    padding: 1rem 0 0;
    min-width: 20vw;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------searchbar---------*/
.search{
    -webkit-box-shadow: 5px 5px 6px 5px rgba(0,0,0,0.15); 
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
    height: 15vh;
    padding: 1.5rem;
    background-color: #12CCB4;
}
.searchbar {
    flex-direction: row;
    justify-content: center;
    
}
.form-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar{
    width:70%;
    border-radius: 20px 0 0 20px;
    background-color: rgba(224, 224, 224, 0.979);
    border: 1px solid #888888;
    padding: 5px;
}
.btn {
    background: #FF9F1C;
    background-image: -webkit-linear-gradient(top, #FF9F1C, FF9F1C);
    background-image: -moz-linear-gradient(top, #FF9F1C, FF9F1C);
    background-image: -ms-linear-gradient(top, #FF9F1C, FF9F1C);
    background-image: -o-linear-gradient(top, #FF9F1C, FF9F1C);
    background-image: linear-gradient(to bottom, #FF9F1C, FF9F1C);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 0 20px 20px 0;
    border: 1px solid #888888;
    font-family: Arial;
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: C193A;
    background-image: -webkit-linear-gradient(top, C193A, C193A);
    background-image: -moz-linear-gradient(top, C193A, C193A);
    background-image: -ms-linear-gradient(top, C193A, C193A);
    background-image: -o-linear-gradient(top, C193A, C193A);
    background-image: linear-gradient(to bottom, C193A, C193A);
    text-decoration: none;
  }
  .btn-category{
      margin-top: 1rem;
      display: flex;
    justify-content: space-around;
      
  }
  .category{
      padding: 5px;
      background-color: #FF9F1C;
      border-radius: 2px;
      color: white;
      width: 5rem;
      text-align: center;
  }



.buttonDiv{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF9F1C;
    width: 50vw;
    margin: auto;
    padding: 1rem 2rem;
    justify-content: space-around;
}

.buttonText{
    vertical-align:middle;
    display: table-cell;
}

.satisfaction{
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    display: flex;
}

.button{
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #41d6c3;
    border-radius: 5px;
    border:none;
}
/*---------form---------*/

.speak {
    display: flex;
    justify-content: center;
}

.speakManon {
    display: flex;
    justify-content: center;
}

.full-speak {
    display: flex;
    justify-content: center;
}

/*---------pro---------*/
.deconnect{
    position: absolute;
    right: 50px;
    top: 25vh;
    width: 15vw;
}

.profile1, .profile2{
    position: absolute;
    left: 20px;
    top: 35vh;
    width: 25vw;
}

.biographie{
    position: absolute;
    left: 35vw;
    top: 35vh;
    width: 25vw;
}

.avantages{
    position: absolute;
    right: 10vw;
    top: 35vh;
    width: 25vw;

}

.conseil{
    position: absolute;
    left: 35vw;
    top: 65vh;
    width: 25vw;
}

.jeconseil{
    position: absolute;
    left: 7vw;
    top: 83vh;
    width: 15vw;
}