<form action="{{ path('bathroom') }}" method="get" class="form-search">
	<input class="search-bar" type="text" id="" placeholder="" name="location" value="{{ location ?? '' }}">
	<button class="btn form-submit">
		Chercher
	</button>
</form>